
<!--<!DOCTYPE html>-->
<!--{% load static %}-->
<!--<html lang="en">-->
<!--  <head>-->
<!--    <meta charset="utf-8" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1" />-->
<!--    <meta name="author" content="Untree.co" />-->
<!--    <link rel="shortcut icon" href="favicon.png" />-->

<!--    <meta name="description" content="" />-->
<!--    <meta name="keywords" content="bootstrap, bootstrap5" />-->

<!--    <link rel="preconnect" href="https://fonts.googleapis.com" />-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />-->
<!--    <link rel="icon" href="{% static 'new/images/img_1.jpg' %}" type="image/x-icon">-->

<!--    <link-->
<!--      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"-->
<!--      rel="stylesheet"-->
<!--    />-->

<!--    <link rel="stylesheet" href="{% static 'new/fonts/icomoon/style.css' %}" />-->
<!--    <link rel="stylesheet" href="{% static 'new/fonts/flaticon/font/flaticon.css' %}" />-->

<!--    <link rel="stylesheet" href="{% static 'new/css/tiny-slider.css' %}" />-->
<!--    <link rel="stylesheet" href="{% static 'new/css/aos.css' %}" />-->
<!--    <link rel="stylesheet" href="{% static 'new/css/style.css' %}" />-->

<!--    <title>-->
<!--      Paradise sweet paradise by luxury villa.co-->
<!--    </title>-->
<!--  </head>-->
<!--  <body>-->
<!--    <div class="site-mobile-menu site-navbar-target">-->
<!--      <div class="site-mobile-menu-header">-->
<!--        <div class="site-mobile-menu-close">-->
<!--          <span class="icofont-close js-menu-toggle"></span>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="site-mobile-menu-body"></div>-->
<!--    </div>-->

<!--    <nav class="site-nav">-->
<!--      <div class="container">-->
<!--        <div class="menu-bg-wrap">-->
<!--          <div class="site-navigation">-->
<!--            <a href="index.html" class="logo m-0 float-start">Sweet Paradise</a>-->

<!--            <ul-->
<!--              class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end"-->
<!--            >-->
<!--              <li><a href="{% url 'homepage_fn' %}">Home</a></li>-->
<!--              <li class="has-children active">-->
<!--                <a href="properties.html">Properties</a>-->
<!--                <ul class="dropdown">-->
<!--                  <li><a href="{% url 'residential_fn' %}">Residential</a></li>-->
<!--                  <li><a href="{% url 'commercial_fn' %}">Commercial</a></li>-->
<!--                  <li class="has-children">-->
<!--&lt;!&ndash;                    <a href="#">Dropdown</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <ul class="dropdown">&ndash;&gt;-->
<!--&lt;!&ndash;                      <li><a href="#">Sub Menu One</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                      <li><a href="#">Sub Menu Two</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                      <li><a href="#">Sub Menu Three</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    </ul>&ndash;&gt;-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li><a href="{% url 'ServicePage_fn' %}">Services</a></li>-->
<!--              <li><a href="{% url 'agent_fn' %}">Agents</a></li>-->
<!--              <li><a href="{% url 'about_fn' %}">About</a></li>-->
<!--              <li><a href="{% url 'contact_fn' %}">Contact Us</a></li>-->
<!--            </ul>-->

<!--            <a-->
<!--              href="#"-->
<!--              class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"-->
<!--              data-toggle="collapse"-->
<!--              data-target="#main-navbar"-->
<!--            >-->
<!--              <span></span>-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </nav>-->

<!--    <div-->
<!--      class="hero page-inner overlay"-->
<!--      style="background-image: url({% static 'new/images/hero_bg_1.jpg' %})"-->
<!--    >-->
<!--      <div class="container">-->
<!--        <div class="row justify-content-center align-items-center">-->
<!--          <div class="col-lg-9 text-center mt-5">-->
<!--            <h1 class="heading" data-aos="fade-up">Residential Villas</h1>-->

<!--            <nav-->
<!--              aria-label="breadcrumb"-->
<!--              data-aos="fade-up"-->
<!--              data-aos-delay="200"-->
<!--            >-->
<!--              <ol class="breadcrumb text-center justify-content-center">-->
<!--                <li class="breadcrumb-item"><a href="{% url 'homepage_fn' %}">Home</a></li>-->
<!--                <li-->
<!--                  class="breadcrumb-item active text-white-50"-->
<!--                  aria-current="page"-->
<!--                >-->
<!--                  Properties-->
<!--                </li>-->
<!--              </ol>-->
<!--            </nav>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--&lt;!&ndash;    <div class="section">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="row mb-5 align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-lg-6 text-center mx-auto">&ndash;&gt;-->
<!--&lt;!&ndash;            <h2 class="font-weight-bold text-primary heading">&ndash;&gt;-->
<!--&lt;!&ndash;              Featured Properties&ndash;&gt;-->
<!--&lt;!&ndash;            </h2>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-12">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="property-slider-wrap">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="property-slider">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="property-item">&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="property-single.html" class="img">&ndash;&gt;-->
<!--&lt;!&ndash;                    <img src="{% static 'new/images/img_1.jpg' %}" alt="Image" class="img-fluid" />&ndash;&gt;-->
<!--&lt;!&ndash;                  </a>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;                  <div class="property-content">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    <div class="price mb-2"><span>$1,291,000</span></div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    <div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                      <span class="d-block mb-2 text-black-50"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        >5232 Cochin, Ave. 21BC</span&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                      >&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                      <span class="city d-block mb-3">Cochin</span>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;                      <div class="specs d-flex mb-4">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <span class="d-block d-flex align-items-center me-3">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          <span class="icon-bed me-2"></span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          <span class="caption">2 beds</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        </span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <span class="d-block d-flex align-items-center">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          <span class="icon-bath me-2"></span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          <span class="caption">2 baths</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        </span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                      </div>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;                      <a&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        href="property-single.html"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        class="btn btn-primary py-2 px-3"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        >See details</a&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                      >&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash; .item &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                <div class="property-item">&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="property-single.html" class="img">&ndash;&gt;-->
<!--&lt;!&ndash;                    <img src="{% static 'new/images/img_2.jpg' %}" alt="Image" class="img-fluid" />&ndash;&gt;-->
<!--&lt;!&ndash;                  </a>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;                  <div class="property-content">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    <div class="price mb-2"><span>$1,291,000</span></div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    <div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                      <span class="d-block mb-2 text-black-50"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        >5232 Cochin, Ave. 21BC</span&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                      >&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                      <span class="city d-block mb-3">Cochin</span>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;                      <div class="specs d-flex mb-4">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <span class="d-block d-flex align-items-center me-3">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          <span class="icon-bed me-2"></span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          <span class="caption">2 beds</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        </span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <span class="d-block d-flex align-items-center">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          <span class="icon-bath me-2"></span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          <span class="caption">2 baths</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        </span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                      </div>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;                      <a&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        href="property-single.html"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        class="btn btn-primary py-2 px-3"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        >See details</a&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                      >&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash; .item &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                <div class="property-item">&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="property-single.html" class="img">&ndash;&gt;-->
<!--&lt;!&ndash;                    <img src="{% static 'new/images/img_3.jpg' %}" alt="Image" class="img-fluid" />&ndash;&gt;-->
<!--&lt;!&ndash;                  </a>&ndash;&gt;-->

<!--&lt;!&ndash;                  <div class="property-content">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="price mb-2"><span>$1,291,000</span></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="d-block mb-2 text-black-50"&ndash;&gt;-->
<!--&lt;!&ndash;                        >5232 Cochin Fake, Ave. 21BC</span&ndash;&gt;-->
<!--&lt;!&ndash;                      >&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="city d-block mb-3">Cochin</span>&ndash;&gt;-->

<!--&lt;!&ndash;                      <div class="specs d-flex mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="d-block d-flex align-items-center me-3">&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="icon-bed me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="caption">2 beds</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </span>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="d-block d-flex align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="icon-bath me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="caption">2 baths</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </span>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->

<!--&lt;!&ndash;                      <a&ndash;&gt;-->
<!--&lt;!&ndash;                        href="property-single.html"&ndash;&gt;-->
<!--&lt;!&ndash;                        class="btn btn-primary py-2 px-3"&ndash;&gt;-->
<!--&lt;!&ndash;                        >See details</a&ndash;&gt;-->
<!--&lt;!&ndash;                      >&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash; .item &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                <div class="property-item">&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="property-single.html" class="img">&ndash;&gt;-->
<!--&lt;!&ndash;                    <img src="{% static 'new/images/img_4.jpg' %}" alt="Image" class="img-fluid" />&ndash;&gt;-->
<!--&lt;!&ndash;                  </a>&ndash;&gt;-->

<!--&lt;!&ndash;                  <div class="property-content">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="price mb-2"><span>$1,291,000</span></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="d-block mb-2 text-black-50"&ndash;&gt;-->
<!--&lt;!&ndash;                        >Cochin, Ave. 21BC</span&ndash;&gt;-->
<!--&lt;!&ndash;                      >&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="city d-block mb-3">Cochin</span>&ndash;&gt;-->

<!--&lt;!&ndash;                      <div class="specs d-flex mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="d-block d-flex align-items-center me-3">&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="icon-bed me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="caption">2 beds</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </span>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="d-block d-flex align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="icon-bath me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="caption">2 baths</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </span>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->

<!--&lt;!&ndash;                      <a&ndash;&gt;-->
<!--&lt;!&ndash;                        href="property-single.html"&ndash;&gt;-->
<!--&lt;!&ndash;                        class="btn btn-primary py-2 px-3"&ndash;&gt;-->
<!--&lt;!&ndash;                        >See details</a&ndash;&gt;-->
<!--&lt;!&ndash;                      >&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash; .item &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                <div class="property-item">&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="property-single.html" class="img">&ndash;&gt;-->
<!--&lt;!&ndash;                    <img src="{% static 'new/images/img_5.jpg' %}" alt="Image" class="img-fluid" />&ndash;&gt;-->
<!--&lt;!&ndash;                  </a>&ndash;&gt;-->

<!--&lt;!&ndash;                  <div class="property-content">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="price mb-2"><span>$1,291,000</span></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="d-block mb-2 text-black-50"&ndash;&gt;-->
<!--&lt;!&ndash;                        >5232 Cochin Ave. 21BC</span&ndash;&gt;-->
<!--&lt;!&ndash;                      >&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="city d-block mb-3">Edapally</span>&ndash;&gt;-->

<!--&lt;!&ndash;                      <div class="specs d-flex mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="d-block d-flex align-items-center me-3">&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="icon-bed me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="caption">2 beds</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </span>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="d-block d-flex align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="icon-bath me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="caption">2 baths</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </span>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->

<!--&lt;!&ndash;                      <a&ndash;&gt;-->
<!--&lt;!&ndash;                        href="property-single.html"&ndash;&gt;-->
<!--&lt;!&ndash;                        class="btn btn-primary py-2 px-3"&ndash;&gt;-->
<!--&lt;!&ndash;                        >See details</a&ndash;&gt;-->
<!--&lt;!&ndash;                      >&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash; .item &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                <div class="property-item">&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="property-single.html" class="img">&ndash;&gt;-->
<!--&lt;!&ndash;                    <img src="{% static 'new/images/img_6.jpg' %}" alt="Image" class="img-fluid" />&ndash;&gt;-->
<!--&lt;!&ndash;                  </a>&ndash;&gt;-->

<!--&lt;!&ndash;                  <div class="property-content">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="price mb-2"><span>$1,291,000</span></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="d-block mb-2 text-black-50"&ndash;&gt;-->
<!--&lt;!&ndash;                        >5232 California Fake, Ave. 21BC</span&ndash;&gt;-->
<!--&lt;!&ndash;                      >&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="city d-block mb-3">Kaloor</span>&ndash;&gt;-->

<!--&lt;!&ndash;                      <div class="specs d-flex mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="d-block d-flex align-items-center me-3">&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="icon-bed me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="caption">2 beds</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </span>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="d-block d-flex align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="icon-bath me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="caption">2 baths</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </span>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->

<!--&lt;!&ndash;                      <a&ndash;&gt;-->
<!--&lt;!&ndash;                        href="property-single.html"&ndash;&gt;-->
<!--&lt;!&ndash;                        class="btn btn-primary py-2 px-3"&ndash;&gt;-->
<!--&lt;!&ndash;                        >See details</a&ndash;&gt;-->
<!--&lt;!&ndash;                      >&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash; .item &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                <div class="property-item">&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="property-single.html" class="img">&ndash;&gt;-->
<!--&lt;!&ndash;                    <img src="{% static 'new/images/img_7.jpg' %}" alt="Image" class="img-fluid" />&ndash;&gt;-->
<!--&lt;!&ndash;                  </a>&ndash;&gt;-->

<!--&lt;!&ndash;                  <div class="property-content">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="price mb-2"><span>$1,291,000</span></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="d-block mb-2 text-black-50"&ndash;&gt;-->
<!--&lt;!&ndash;                        >5232 California Fake, Ave. 21BC</span&ndash;&gt;-->
<!--&lt;!&ndash;                      >&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="city d-block mb-3">Vytila</span>&ndash;&gt;-->

<!--&lt;!&ndash;                      <div class="specs d-flex mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="d-block d-flex align-items-center me-3">&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="icon-bed me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="caption">2 beds</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </span>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="d-block d-flex align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="icon-bath me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="caption">2 baths</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </span>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->

<!--&lt;!&ndash;                      <a&ndash;&gt;-->
<!--&lt;!&ndash;                        href="property-single.html"&ndash;&gt;-->
<!--&lt;!&ndash;                        class="btn btn-primary py-2 px-3"&ndash;&gt;-->
<!--&lt;!&ndash;                        >See details</a&ndash;&gt;-->
<!--&lt;!&ndash;                      >&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash; .item &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                <div class="property-item">&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="property-single.html" class="img">&ndash;&gt;-->
<!--&lt;!&ndash;                    <img src="{% static 'new/images/img_8.jpg' %}" alt="Image" class="img-fluid" />&ndash;&gt;-->
<!--&lt;!&ndash;                  </a>&ndash;&gt;-->

<!--&lt;!&ndash;                  <div class="property-content">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="price mb-2"><span>$1,291,000</span></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="d-block mb-2 text-black-50"&ndash;&gt;-->
<!--&lt;!&ndash;                        >5232 California Fake, Ave. 21BC</span&ndash;&gt;-->
<!--&lt;!&ndash;                      >&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="city d-block mb-3">Palarivattom</span>&ndash;&gt;-->

<!--&lt;!&ndash;                      <div class="specs d-flex mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="d-block d-flex align-items-center me-3">&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="icon-bed me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="caption">2 beds</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </span>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="d-block d-flex align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="icon-bath me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="caption">2 baths</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </span>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->

<!--&lt;!&ndash;                      <a&ndash;&gt;-->
<!--&lt;!&ndash;                        href="property-single.html"&ndash;&gt;-->
<!--&lt;!&ndash;                        class="btn btn-primary py-2 px-3"&ndash;&gt;-->
<!--&lt;!&ndash;                        >See details</a&ndash;&gt;-->
<!--&lt;!&ndash;                      >&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash; .item &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                <div class="property-item">&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="property-single.html" class="img">&ndash;&gt;-->
<!--&lt;!&ndash;                    <img src="{% static 'new/images/img_1.jpg' %}" alt="Image" class="img-fluid" />&ndash;&gt;-->
<!--&lt;!&ndash;                  </a>&ndash;&gt;-->

<!--&lt;!&ndash;                  <div class="property-content">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="price mb-2"><span>$1,291,000</span></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="d-block mb-2 text-black-50"&ndash;&gt;-->
<!--&lt;!&ndash;                        >5232 California Fake, Ave. 21BC</span&ndash;&gt;-->
<!--&lt;!&ndash;                      >&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="city d-block mb-3">Alapuzha</span>&ndash;&gt;-->

<!--&lt;!&ndash;                      <div class="specs d-flex mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="d-block d-flex align-items-center me-3">&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="icon-bed me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="caption">2 beds</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </span>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="d-block d-flex align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="icon-bath me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="caption">2 baths</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </span>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->

<!--&lt;!&ndash;                      <a&ndash;&gt;-->
<!--&lt;!&ndash;                        href="property-single.html"&ndash;&gt;-->
<!--&lt;!&ndash;                        class="btn btn-primary py-2 px-3"&ndash;&gt;-->
<!--&lt;!&ndash;                        >See details</a&ndash;&gt;-->
<!--&lt;!&ndash;                      >&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash; .item &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->

<!--&lt;!&ndash;              <div&ndash;&gt;-->
<!--&lt;!&ndash;                id="property-nav"&ndash;&gt;-->
<!--&lt;!&ndash;                class="controls"&ndash;&gt;-->
<!--&lt;!&ndash;                tabindex="0"&ndash;&gt;-->
<!--&lt;!&ndash;                aria-label="Carousel Navigation"&ndash;&gt;-->
<!--&lt;!&ndash;              >&ndash;&gt;-->
<!--&lt;!&ndash;                <span&ndash;&gt;-->
<!--&lt;!&ndash;                  class="prev"&ndash;&gt;-->
<!--&lt;!&ndash;                  data-controls="prev"&ndash;&gt;-->
<!--&lt;!&ndash;                  aria-controls="property"&ndash;&gt;-->
<!--&lt;!&ndash;                  tabindex="-1"&ndash;&gt;-->
<!--&lt;!&ndash;                  >Prev</span&ndash;&gt;-->
<!--&lt;!&ndash;                >&ndash;&gt;-->
<!--&lt;!&ndash;                <span&ndash;&gt;-->
<!--&lt;!&ndash;                  class="next"&ndash;&gt;-->
<!--&lt;!&ndash;                  data-controls="next"&ndash;&gt;-->
<!--&lt;!&ndash;                  aria-controls="property"&ndash;&gt;-->
<!--&lt;!&ndash;                  tabindex="-1"&ndash;&gt;-->
<!--&lt;!&ndash;                  >Next</span&ndash;&gt;-->
<!--&lt;!&ndash;                >&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--    <div class="section section-properties">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">-->
<!--            <div class="property-item mb-30">-->
<!--              <a href="property-single.html" class="img">-->
<!--                <img src="{% static 'new/images/img_1.jpg' %}" alt="Image" class="img-fluid" />-->
<!--              </a>-->

<!--              <div class="property-content">-->
<!--                <div class="price mb-2"><span>$1,291,000</span></div>-->
<!--                <div>-->
<!--                  <span class="d-block mb-2 text-black-50"-->
<!--                    >5232 California Fake, Ave. 21BC</span-->
<!--                  >-->
<!--                  <span class="city d-block mb-3">California, USA</span>-->

<!--                  <div class="specs d-flex mb-4">-->
<!--                    <span class="d-block d-flex align-items-center me-3">-->
<!--                      <span class="icon-bed me-2"></span>-->
<!--                      <span class="caption">2 beds</span>-->
<!--                    </span>-->
<!--                    <span class="d-block d-flex align-items-center">-->
<!--                      <span class="icon-bath me-2"></span>-->
<!--                      <span class="caption">2 baths</span>-->
<!--                    </span>-->
<!--                  </div>-->

<!--                  <a-->
<!--                    href="property-single.html"-->
<!--                    class="btn btn-primary py-2 px-3"-->
<!--                    >See details</a-->
<!--                  >-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; .item &ndash;&gt;-->
<!--          </div>-->
<!--&lt;!&ndash;          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="property-item mb-30">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="property-single.html" class="img">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="{% static 'new/images/img_2.jpg' %}" alt="Image" class="img-fluid" />&ndash;&gt;-->
<!--&lt;!&ndash;              </a>&ndash;&gt;-->

<!--&lt;!&ndash;              <div class="property-content">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="price mb-2"><span>$1,291,000</span></div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="d-block mb-2 text-black-50"&ndash;&gt;-->
<!--&lt;!&ndash;                    >5232 California Fake, Ave. 21BC</span&ndash;&gt;-->
<!--&lt;!&ndash;                  >&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="city d-block mb-3">California, USA</span>&ndash;&gt;-->

<!--&lt;!&ndash;                  <div class="specs d-flex mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="d-block d-flex align-items-center me-3">&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="icon-bed me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="caption">2 beds</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="d-block d-flex align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="icon-bath me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="caption">2 baths</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->

<!--&lt;!&ndash;                  <a&ndash;&gt;-->
<!--&lt;!&ndash;                    href="property-single.html"&ndash;&gt;-->
<!--&lt;!&ndash;                    class="btn btn-primary py-2 px-3"&ndash;&gt;-->
<!--&lt;!&ndash;                    >See details</a&ndash;&gt;-->
<!--&lt;!&ndash;                  >&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; .item &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="property-item mb-30">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="property-single.html" class="img">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="{% static 'new/images/img_3.jpg' %}" alt="Image" class="img-fluid" />&ndash;&gt;-->
<!--&lt;!&ndash;              </a>&ndash;&gt;-->

<!--&lt;!&ndash;              <div class="property-content">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="price mb-2"><span>$1,291,000</span></div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="d-block mb-2 text-black-50"&ndash;&gt;-->
<!--&lt;!&ndash;                    >5232 California Fake, Ave. 21BC</span&ndash;&gt;-->
<!--&lt;!&ndash;                  >&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="city d-block mb-3">California, USA</span>&ndash;&gt;-->

<!--&lt;!&ndash;                  <div class="specs d-flex mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="d-block d-flex align-items-center me-3">&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="icon-bed me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="caption">2 beds</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="d-block d-flex align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="icon-bath me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="caption">2 baths</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->

<!--&lt;!&ndash;                  <a&ndash;&gt;-->
<!--&lt;!&ndash;                    href="property-single.html"&ndash;&gt;-->
<!--&lt;!&ndash;                    class="btn btn-primary py-2 px-3"&ndash;&gt;-->
<!--&lt;!&ndash;                    >See details</a&ndash;&gt;-->
<!--&lt;!&ndash;                  >&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; .item &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->

<!--&lt;!&ndash;          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="property-item mb-30">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="property-single.html" class="img">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="{% static 'new/images/img_4.jpg' %}" alt="Image" class="img-fluid" />&ndash;&gt;-->
<!--&lt;!&ndash;              </a>&ndash;&gt;-->

<!--&lt;!&ndash;              <div class="property-content">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="price mb-2"><span>$1,291,000</span></div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="d-block mb-2 text-black-50"&ndash;&gt;-->
<!--&lt;!&ndash;                    >5232 California Fake, Ave. 21BC</span&ndash;&gt;-->
<!--&lt;!&ndash;                  >&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="city d-block mb-3">California, USA</span>&ndash;&gt;-->

<!--&lt;!&ndash;                  <div class="specs d-flex mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="d-block d-flex align-items-center me-3">&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="icon-bed me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="caption">2 beds</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="d-block d-flex align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="icon-bath me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="caption">2 baths</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->

<!--&lt;!&ndash;                  <a&ndash;&gt;-->
<!--&lt;!&ndash;                    href="property-single.html"&ndash;&gt;-->
<!--&lt;!&ndash;                    class="btn btn-primary py-2 px-3"&ndash;&gt;-->
<!--&lt;!&ndash;                    >See details</a&ndash;&gt;-->
<!--&lt;!&ndash;                  >&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; .item &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="property-item mb-30">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="property-single.html" class="img">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="{% static 'new/images/img_5.jpg' %}" alt="Image" class="img-fluid" />&ndash;&gt;-->
<!--&lt;!&ndash;              </a>&ndash;&gt;-->

<!--&lt;!&ndash;              <div class="property-content">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="price mb-2"><span>$1,291,000</span></div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="d-block mb-2 text-black-50"&ndash;&gt;-->
<!--&lt;!&ndash;                    >5232 California Fake, Ave. 21BC</span&ndash;&gt;-->
<!--&lt;!&ndash;                  >&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="city d-block mb-3">California, USA</span>&ndash;&gt;-->

<!--&lt;!&ndash;                  <div class="specs d-flex mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="d-block d-flex align-items-center me-3">&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="icon-bed me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="caption">2 beds</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="d-block d-flex align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="icon-bath me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="caption">2 baths</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->

<!--&lt;!&ndash;                  <a&ndash;&gt;-->
<!--&lt;!&ndash;                    href="property-single.html"&ndash;&gt;-->
<!--&lt;!&ndash;                    class="btn btn-primary py-2 px-3"&ndash;&gt;-->
<!--&lt;!&ndash;                    >See details</a&ndash;&gt;-->
<!--&lt;!&ndash;                  >&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; .item &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="property-item mb-30">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="property-single.html" class="img">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="{% static 'new/images/img_6.jpg' %}" alt="Image" class="img-fluid" />&ndash;&gt;-->
<!--&lt;!&ndash;              </a>&ndash;&gt;-->

<!--&lt;!&ndash;              <div class="property-content">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="price mb-2"><span>$1,291,000</span></div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="d-block mb-2 text-black-50"&ndash;&gt;-->
<!--&lt;!&ndash;                    >5232 California Fake, Ave. 21BC</span&ndash;&gt;-->
<!--&lt;!&ndash;                  >&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="city d-block mb-3">California, USA</span>&ndash;&gt;-->

<!--&lt;!&ndash;                  <div class="specs d-flex mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="d-block d-flex align-items-center me-3">&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="icon-bed me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="caption">2 beds</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="d-block d-flex align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="icon-bath me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="caption">2 baths</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->

<!--&lt;!&ndash;                  <a&ndash;&gt;-->
<!--&lt;!&ndash;                    href="property-single.html"&ndash;&gt;-->
<!--&lt;!&ndash;                    class="btn btn-primary py-2 px-3"&ndash;&gt;-->
<!--&lt;!&ndash;                    >See details</a&ndash;&gt;-->
<!--&lt;!&ndash;                  >&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; .item &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->

<!--&lt;!&ndash;          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="property-item mb-30">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="property-single.html" class="img">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="{% static 'new/images/img_7.jpg' %}" alt="Image" class="img-fluid" />&ndash;&gt;-->
<!--&lt;!&ndash;              </a>&ndash;&gt;-->

<!--&lt;!&ndash;              <div class="property-content">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="price mb-2"><span>$1,291,000</span></div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="d-block mb-2 text-black-50"&ndash;&gt;-->
<!--&lt;!&ndash;                    >5232 California Fake, Ave. 21BC</span&ndash;&gt;-->
<!--&lt;!&ndash;                  >&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="city d-block mb-3">California, USA</span>&ndash;&gt;-->

<!--&lt;!&ndash;                  <div class="specs d-flex mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="d-block d-flex align-items-center me-3">&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="icon-bed me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="caption">2 beds</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="d-block d-flex align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="icon-bath me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="caption">2 baths</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->

<!--&lt;!&ndash;                  <a&ndash;&gt;-->
<!--&lt;!&ndash;                    href="property-single.html"&ndash;&gt;-->
<!--&lt;!&ndash;                    class="btn btn-primary py-2 px-3"&ndash;&gt;-->
<!--&lt;!&ndash;                    >See details</a&ndash;&gt;-->
<!--&lt;!&ndash;                  >&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; .item &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="property-item mb-30">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="property-single.html" class="img">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="{% static 'new/images/img_8.jpg' %}" alt="Image" class="img-fluid" />&ndash;&gt;-->
<!--&lt;!&ndash;              </a>&ndash;&gt;-->

<!--&lt;!&ndash;              <div class="property-content">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="price mb-2"><span>$1,291,000</span></div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="d-block mb-2 text-black-50"&ndash;&gt;-->
<!--&lt;!&ndash;                    >5232 California Fake, Ave. 21BC</span&ndash;&gt;-->
<!--&lt;!&ndash;                  >&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="city d-block mb-3">California, USA</span>&ndash;&gt;-->

<!--&lt;!&ndash;                  <div class="specs d-flex mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="d-block d-flex align-items-center me-3">&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="icon-bed me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="caption">2 beds</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="d-block d-flex align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="icon-bath me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="caption">2 baths</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->

<!--&lt;!&ndash;                  <a&ndash;&gt;-->
<!--&lt;!&ndash;                    href="property-single.html"&ndash;&gt;-->
<!--&lt;!&ndash;                    class="btn btn-primary py-2 px-3"&ndash;&gt;-->
<!--&lt;!&ndash;                    >See details</a&ndash;&gt;-->
<!--&lt;!&ndash;                  >&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; .item &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="property-item mb-30">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="property-single.html" class="img">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="{% static 'new/images/img_1.jpg' %}" alt="Image" class="img-fluid" />&ndash;&gt;-->
<!--&lt;!&ndash;              </a>&ndash;&gt;-->

<!--&lt;!&ndash;              <div class="property-content">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="price mb-2"><span>$1,291,000</span></div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="d-block mb-2 text-black-50"&ndash;&gt;-->
<!--&lt;!&ndash;                    >5232 California Fake, Ave. 21BC</span&ndash;&gt;-->
<!--&lt;!&ndash;                  >&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="city d-block mb-3">California, USA</span>&ndash;&gt;-->

<!--&lt;!&ndash;                  <div class="specs d-flex mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="d-block d-flex align-items-center me-3">&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="icon-bed me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="caption">2 beds</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="d-block d-flex align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="icon-bath me-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="caption">2 baths</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->

<!--&lt;!&ndash;                  <a&ndash;&gt;-->
<!--&lt;!&ndash;                    href="property-single.html"&ndash;&gt;-->
<!--&lt;!&ndash;                    class="btn btn-primary py-2 px-3"&ndash;&gt;-->
<!--&lt;!&ndash;                    >See details</a&ndash;&gt;-->
<!--&lt;!&ndash;                  >&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; .item &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--        </div>-->
<!--&lt;!&ndash;        <div class="row align-items-center py-5">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-lg-3">Pagination (1 of 10)</div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-lg-6 text-center">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="custom-pagination">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="#">1</a>&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="#" class="active">2</a>&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="#">3</a>&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="#">4</a>&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="#">5</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="site-footer">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-lg-4">-->
<!--            <div class="widget">-->
<!--              <h3>Contact</h3>-->
<!--              <address>43 Raymouth Rd. Baltemoer, London 3910</address>-->
<!--              <ul class="list-unstyled links">-->
<!--                <li><a href="tel://11234567890">+1(123)-456-7890</a></li>-->
<!--                <li><a href="tel://11234567890">+1(123)-456-7890</a></li>-->
<!--                <li>-->
<!--                  <a href="mailto:info@mydomain.com">info@mydomain.com</a>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            &lt;!&ndash; /.widget &ndash;&gt;-->
<!--          </div>-->
<!--          &lt;!&ndash; /.col-lg-4 &ndash;&gt;-->
<!--          <div class="col-lg-4">-->
<!--            <div class="widget">-->
<!--              <h3>Sources</h3>-->
<!--              <ul class="list-unstyled float-start links">-->
<!--                <li><a href="#">About us</a></li>-->
<!--                <li><a href="#">Services</a></li>-->
<!--                <li><a href="#">Vision</a></li>-->
<!--                <li><a href="#">Mission</a></li>-->
<!--                <li><a href="#">Terms</a></li>-->
<!--                <li><a href="#">Privacy</a></li>-->
<!--              </ul>-->
<!--              <ul class="list-unstyled float-start links">-->
<!--                <li><a href="#">Partners</a></li>-->
<!--                <li><a href="#">Business</a></li>-->
<!--                <li><a href="#">Careers</a></li>-->
<!--                <li><a href="#">Blog</a></li>-->
<!--                <li><a href="#">FAQ</a></li>-->
<!--                <li><a href="#">Creative</a></li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            &lt;!&ndash; /.widget &ndash;&gt;-->
<!--          </div>-->
<!--          &lt;!&ndash; /.col-lg-4 &ndash;&gt;-->
<!--          <div class="col-lg-4">-->
<!--            <div class="widget">-->
<!--              <h3>Links</h3>-->
<!--              <ul class="list-unstyled links">-->
<!--                <li><a href="#">Our Vision</a></li>-->
<!--                <li><a href="#">About us</a></li>-->
<!--                <li><a href="#">Contact us</a></li>-->
<!--              </ul>-->

<!--              <ul class="list-unstyled social">-->
<!--                <li>-->
<!--                  <a href="#"><span class="icon-instagram"></span></a>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <a href="#"><span class="icon-twitter"></span></a>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <a href="#"><span class="icon-facebook"></span></a>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <a href="#"><span class="icon-linkedin"></span></a>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <a href="#"><span class="icon-pinterest"></span></a>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <a href="#"><span class="icon-dribbble"></span></a>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            &lt;!&ndash; /.widget &ndash;&gt;-->
<!--          </div>-->
<!--          &lt;!&ndash; /.col-lg-4 &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; /.row &ndash;&gt;-->

<!--        <div class="row mt-5">-->
<!--          <div class="col-12 text-center">-->
<!--            &lt;!&ndash;-->
<!--              **==========-->
<!--              NOTE:-->
<!--              Please don't remove this copyright link unless you buy the license here https://untree.co/license/-->
<!--              **==========-->
<!--            &ndash;&gt;-->

<!--            <p>-->
<!--              Copyright &copy;-->
<!--              <script>-->
<!--                document.write(new Date().getFullYear());-->
<!--              </script>-->
<!--              . All Rights Reserved. &mdash; Designed with love by-->
<!--              <a href="https://untree.co">Untree.co</a>-->
<!--              &lt;!&ndash; License information: https://untree.co/license/ &ndash;&gt;-->
<!--            </p>-->
<!--            <div>-->
<!--              Distributed by-->
<!--              <a href="https://themewagon.com/" target="_blank">themewagon</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; /.container &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; /.site-footer &ndash;&gt;-->

<!--    &lt;!&ndash; Preloader &ndash;&gt;-->
<!--    <div id="overlayer"></div>-->
<!--    <div class="loader">-->
<!--      <div class="spinner-border" role="status">-->
<!--        <span class="visually-hidden">Loading...</span>-->
<!--      </div>-->
<!--    </div>-->

<!--    <script src="{% static 'new/js/bootstrap.bundle.min.js' %}"></script>-->
<!--    <script src="{% static 'new/js/tiny-slider.js' %}"></script>-->
<!--    <script src="{% static 'new/js/aos.js' %}"></script>-->
<!--    <script src="{% static 'new/js/navbar.js' %}"></script>-->
<!--    <script src="{% static 'new/js/counter.js' %}"></script>-->
<!--    <script src="{% static 'new/js/custom.js' %}"></script>-->
<!--  </body>-->
<!--</html>-->
